._tour_card {
  padding: 1rem;
  background-color: white;
}
._tour_card .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._tour_card .col {
  display: flex;
}
._tour_card .col .image {
  width: 400px !important;
}
.under_col {
  display: flex;
  flex-direction: column;
  max-width: 500px !important;
  padding: 0 2rem;
}
.under_col.center {
  align-items: center;
}
.under_col .small {
  padding: 5px 10px;
  border: 1px solid #707070;
  color: #707070;
}
.under_col .extra-small {
  margin-right: 5px;
  border: 1px solid #707070;
  color: white;
  padding: 2px 6px;
  background-color: #707070;
}
.under_col .description {
  margin: 1rem 0;
}
._tour_card_star {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
._tour_card_star p {
  padding: 0 8px;
}
@media (max-width: 1099px) {
  .under_col {
    max-width: 380px !important;
  }
}
