._actions {
  padding: 0rem 2rem;
  background-color: white;
}

._action {
  width: 280px;
  height: 100px;
}
._action p {
  text-align: center;
}
._action_grid {
  padding-bottom: 1.5rem !important;
}
._action_grid > .row {
  width: 100%;
  border: solid 0.25px #707070;
  border-top: none;
  border-bottom: none;
  padding: 0 2rem !important;
}
/* the slides */

@media (max-width: 1199px) {
  ._action_grid > .row {
    height: 110px !important;
    padding: 0 1rem !important;
  }
}
@media (max-width: 650px) {
  ._actions_slider {
    width: 300px !important;
    border: solid 0.25px #707070;
    border-top: none;
    border-bottom: none;
    padding: 1rem !important;
    height: 130px !important;
  }
  ._actions.shadow {
    padding-bottom: 3rem !important;
  }
  ._action_grid {
    padding: 2rem 0 !important;
  }
  ._action_grid > .row {
    border: none !important;
    display: flex !important;
    justify-content: center !important;
  }
}
