._hero_section {
  position: relative;
  height: 94vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-self: center;
}
._hero_section::before {
  background-image: url("../../assets/hero_section.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.hero-text {
  z-index: 10;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}
.CF_regular {
  padding: 3rem 0;
}
._hero_section_search .ui.search .prompt {
  border-radius: 5px !important;
  width: 500px !important;
  height: 70px !important;
  border: none !important;
  box-shadow: 0 1.5px 3px 0px rgba(0, 0, 0, 0.16) !important;
  font-size: 20px !important;
}
._hero_section_search .ui.search .prompt::placeholder {
  color: #3b3b3b !important;
}
._hero_section_trip {
  background-color: white !important;
  color: black !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.75rem 0.5rem !important;
  width: 220px !important;
}
._hero_section_trip .icon {
  background-color: white !important;
  width: 1rem !important;
  right: 30px !important;
  font-size: 3rem !important;
}
@media (max-width: 699px) {
  .hero-text h1 {
    font-size: 20px !important;
  }
  ._hero_section::before {
    background-position: right;
  }
  .hero-text {
    justify-content: flex-start;
    align-items: center;
  }
  .CF_regular {
    padding: 0 !important;
  }
  .hero-text .CF_bold,
  ._hero_section_search span {
    font-size: 25px !important;
  }
  ._hero_section_search .ui.search .prompt {
    width: 300px !important;
  }
}
