._parteners {
  padding: 1em 0rem;
}

._partener_img {
  width: 100px;
  height: auto;
}
._parteners .row > .column {
  text-align: center;
  padding: 1rem 0;
  padding-top: 0 !important;
  margin: 0 3rem;
  border: 1px solid #707070;
  border-top: none;
  border-right: none;
  border-left: none;
}
._parteners .row {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
